# https://docs.github.com/actions

name: Lint

on:
  push:
    branches-ignore:
      - main
  pull_request:
    branches:
      - main
  workflow_call:
    inputs:
      exclude:
        required: false
        default: ''
        type: string
        description: Regex filter of path to exclude

jobs:
  super-linter:
    name: Code Base
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Lint Code Base
        uses: github/super-linter@v4
        env:
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          FILTER_REGEX_EXCLUDE: ${{ inputs.exclude }}
