# yamllint disable rule:document-start
# https://docs.github.com/actions

name: Node.js

on:
  workflow_call:
    inputs:
      node-version:
        required: false
        default: lts/*
        type: string
      action-matrix:
        required: false
        default: '["no-run"]'
        type: string
        description: Matrix of actions to run
      artifact-path:
        required: false
        default: ""
        type: string

permissions:
  contents: read

jobs:
  npm:
    name: ${{ matrix.action }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        action: ${{ fromJSON(inputs.action-matrix) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Use Node.js ${{ inputs.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node-version }}
          cache: "npm"

      - name: Install NPM packages
        run: npm ci

      - name: Run ${{ matrix.action }}
        if: matrix.action != 'no-run'
        run: npm run ${{ matrix.action }} --if-present

      - name: Upload build files
        if: matrix.action == 'build' && inputs.artifact-path != ''
        uses: actions/upload-artifact@v4
        with:
          name: npm-build-artifact
          path: ${{ inputs.artifact-path }}
